body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
li {
    padding: 10px;
    margin-right: 50px;
}
li:hover {
    background-color: #b4ccfc;
    font-style: italic;
}
ul {
    list-style-type: none;
}
.collapsible {
    background-color: #537496;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #55A6CB;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.title {
    text-align: center;
}