body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
div#calendar {
    margin: 50px 390px;
    border: solid 1px blue;
    height: 500px;
    width: 600px;
}
div#calendar_header {
    border-bottom: solid 1px blue;
    height:100px;
    width: 100%;
}
tr.calendar_row {
    border-bottom: solid 1px #20639B;
    height: 60px;
}
th.calendar_col {
    border-bottom: solid 1px #20639B;
    width: 100px;
    background-color: #20639B;
    color: #ffffff;
}
td {
    border-bottom: dashed 1px #20639B;
    color: #999999;
}
button#previous, button#next {
    display: inline-block;
    background-color: #20639B;
    color:#ffffff;
    font-size: 15px;
    padding: 10px;
    border-radius: 25px;
    width: 100px;
}
#month {
    display: inline-block;
}