body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div#start_div {
    border: 1px solid #666666;
    width:650px;
    height:375px;
    margin: 100px 340px;
    background-image: url("../image/sci-image.jpg");
    border-radius: 10%;
    padding: 10px;
    box-shadow: 5px 5px #666666;
    text-align: center;
}
h1#title {
    font-family: Verdana;
    font-size:60px;
    font-weight: bold;
    color: #ffffff;
    padding: 13px;
}
p#short-desc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    color: #ffffff;
    padding: 10px 15px;
}
button#start {
    background-color: #f44336;
    color:#ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
}
div#header {
    /*border: 1px solid #000000;*/
    background-image: url("../image/sci-image.jpg");
    height: 80px;
    width: 100%;
}
h1#title_header {
    font-family: Verdana;
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    margin: 0px;
    padding: 15px 575px;
}
div#quiz_div {
    width:650px;
    height:400px;
    margin: 50px 340px;
    border: 1px solid #999999;
    border-radius: 15px;
    box-shadow: 5px 5px #999999;
}
div#question_div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #D4D4D4;
    border-bottom: 1px solid #999999;
    height: 90px;
    padding: 3px 10px;
}
div#choices_div {
    background-color: #ECECEC;
    height: 225px;
}
div#next_div {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #D4D4D4;
    border-top: 1px solid#999999;
    height: 80px;
}
button#next {
    margin-top: 14px;
    margin-left: 490px;
    background-color: #4CAF50;
    color:#ffffff;
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 25px;
}
h4#question_num {
    margin-top: 0px;
}
p#question {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
p.choice {
    margin-top: 0px;
    margin-left: 50px;
}
div#score_div {
    border: 1px solid #666666;
    width:650px;
    height:375px;
    margin: 100px 340px;
    background-image: url("../image/sci-image.jpg");
    border-radius: 10%;
    padding: 10px;
    box-shadow: 5px 5px #666666;
    text-align: center;
}
h1#score {
    font-family: Verdana;
    font-size:60px;
    font-weight: bold;
    color: #ffffff;
    padding: 13px;
}
p#short-desc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    color: #ffffff;
    padding: 10px 15px;
}
button#try_again {
    background-color: #4CAF50;
    color:#ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
}